@media only screen and (max-width: 1600px) {
  .nav-a {
    width: 70%;
  }
  .nav-b {
    width: 60%;
  }
  .main-container {
    width: 70%;
  }
  .where-to-go {
    width: 65%;
  }
  .offers {
    width: 70%;
  }
  .download-app {
    width: 70%;
  }
  .handpick-collection {
    width: 70%;
  }
  .handpick-img {
    gap: 15px;
  }
  .wonders-section {
    width: 70%;
  }
  .miscellaneous-section {
    width: 70%;
  }
  .about-sub-container {
    width: 70%;
  }
  .footer-sub {
    width: 72%;
  }
}

@media only screen and (max-width: 1400px) {
  .offer-card {
    width: 420px;
    height: 184;
  }
  .offer-header h1 {
    font-size: 38px;
    margin: 0;
  }
  .offer-nav-arrows {
    margin: 0;
  }
  .offer-class {
    margin: 0 30px;
  }
  .offer-class span {
    margin: 0 5px;
    font-size: 13px;
  }
  .download-uppar-row h1 {
    font-size: 38px;
  }
  .download-uppar-row p {
    font-size: 19px;
  }
  .input-image img {
    width: 16px;
  }
  .input-code {
    font-size: 12px;
  }
  .input-no input {
    font-size: 12px;
  }
  .input-sub button {
    height: 30px;
    padding: 0 9px;
    font-size: 12px;
  }
  .enter-no {
    height: 30px;
  }
  .handpick-collection {
    padding-bottom: 0;
  }
  .handpick-header h1 {
    font-size: 38px;
    margin-right: 267px;
  }
  .handpick-img {
    gap: 41px;
    grid-template-columns: 151px 151px 151px 151px 151px;
  }
  .handpick-img img {
    width: 151px;
    height: 83%;
  }
  .image-slider {
    width: 151px;
    height: 54%;
    bottom: 40px;
    padding: 40px 12px 12px 12px;
  }
  .image-slider p {
    font-size: 13px;
  }
  .image-slider span {
    font-size: 12px;
    padding: 5px;
  }
  .img-card::before {
    width: calc(100% - 21px);
  }
  .img-card::after {
    width: calc(100% - 44px);
  }
  .wonders-section {
    padding-bottom: 0;
  }
  .wonders-header h1 {
    font-size: 38px;
    margin-right: 107px;
    margin-left: 32px;
  }
}

@media only screen and (max-width: 1180px) {
  .nav-a {
    display: none;
  }
  .logo-black img {
    margin-right: 20px;
    margin-left: 10px;
  }
  .login-box {
    margin-left: 10px;
  }
  .mode {
    margin-left: 10px;
  }
  .main-container{
    top:110px;
    width: 78%;
    padding-top: 25px;
  }
  .nav-b{
    display: none;
  }
  .search-button{
    top:436px;
  }
  .trips{
    margin-bottom:30px;
  }
}
